@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto+Slab:wght@100..900&display=swap");

.font-roboto {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
